rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    /**
     * Check user authorization status
     * @returns {Boolean}
     */
    function isAuthorized() {
      return request.auth != null
    }
    
    /**
     * Check is user the owener
     * @returns {Boolean}
     */
    function isValidUserResource(resId) {
    	return request.auth.uid == resId
    }

    match /users/{userId} {
      allow read, write: if isAuthorized() && isValidUserResource(userId)

      match /{sub=**} {
        allow read, write: if isAuthorized() && isValidUserResource(userId)
      }
    }

  }
}
